<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xl-6" *ngFor="let n of noticias">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title color-blue">{{n.titulo}}</h5>
          <p>{{n.fecha}}</p>
          <div class="row">
            <div class="col-8">
              <p class="card-text">{{n.content}}</p>
            </div>
            <div class="col-4">
              <img [src]="n.imagen_titulo.url" width="175" height="150"/>
            </div>
          </div>
          <button class="btn btn-primary" (click)="edit(n.id)">Edit</button>
          <button class="btn btn-danger m-2" (click)="remove(n.id)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
